.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #f7f7f7;
}

.navbar__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar__button:hover {
  background-color: #ddd;
}

.navbar__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #bbb;
  border-top: none;
}

.navbar__dropdown-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.navbar__dropdown-button:hover {
  transform: scale(1.1);
}

.color-picker-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-dropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: white;
  padding: 10px;
  border: 1px solid gray;
  width: 100px;
  max-height: 200px;
  overflow: auto;
}

.menu-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-dropdown li {
  padding: 5px 0;
}

.menu-dropdown li:hover {
  background-color: lightgray;
  cursor: pointer;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
}

.menu-button:hover {
  color: #000;
  background-color: lightgray;
}